@import "tailwindcss";

:root {
  --background: #fff7eb;
  --surface: #ac8b67;
  --textPrimary: #000000;
  --textSecondary: #121212;
  --accent: #fca311;

  /* Nav Colors */
  --navBg: #000000;
  --navText: #e5e5e5;
  --navTextHover: #ffffff;
  --navToggleBg: #e5e5e5;
}

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-foreground: var(--textPrimary);
  --color-muted: var(--textSecondary);
  --color-accent: var(--accent);

  /* Nav Colors */
  --color-nav-bg: var(--navBg);
  --color-nav-text: var(--navText);
  --color-nav-text-hover: var(--navTextHover);
  --color-nav-toggle-bg: var(--navToggleBg);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--textPrimary);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  scroll-snap-type: y mandatory;
}

/* Hide scrollbars but keep scrolling */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

/* Hero CSS */
@keyframes slide {
  0% { transform: translateX(-25vw); }
  100% { transform: translateX(25vw); }
}

.puzzle {
  --r: 30px;  /* control the circle radius */
  --s: 200px; /* control the main size */

  width: calc(var(--s) + var(--r));
  aspect-ratio: 1;
  --_l:#0000 calc(100% - 1px),#000;
  --_g:100% 0/calc(100% - var(--r)) calc(100% - var(--r)) no-repeat;
  --_m:/calc(2*var(--r)) calc(2*var(--r)) no-repeat
    radial-gradient(var(--r),#000 calc(100% - 1px),#0000);
  mask: 
    0 calc(50% - var(--r)/2) var(--_m),calc(50% + var(--r)/2) 100% var(--_m),
    radial-gradient(var(--r) at top  ,var(--_l)) var(--_g) intersect,
    radial-gradient(var(--r) at right,var(--_l)) var(--_g);
  background: linear-gradient(128deg, #ac8b67, #763400);
}
